<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="chemin" value="C:\Users\orsini.manon\source\repos\Soin\Prestation soin\Classes\soins.xml"/>
  </appSettings>
</configuration>